@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic);

body{
  font-family: 'Source Sans Pro', sans-serif;
}

.options > label {
  margin-right: 40px;
}

.days > label {
  margin-right: 90px;
}

.save-buttons {
  padding-top: 20px;
  padding-bottom: 60px;
}

.checkboxes label {
  padding-left: 60px;
}

.radio-divs {
  margin-bottom: 10px;
}

#plan-name {
  margin-top: 20px;
}

.input-sm {
  width: 60px;
  margin-left: 10px;
  height: 23px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  margin-right: 10px;
}

.frecuency {
  display: -webkit-inline-box;
}

.frecuency-select {
  height: 28px;
  width: 50%;
}

.frecuency-input {
  width: 50%;
  height: 28px;
  padding: 0px 10px;
}

.frecuency-number {
  height: 28px;
}

.plazo-max-frecuencia {
  margin-top: 20px;
  margin-left: 40px;
}

#fijo-rango-radios, #enganche, #enganche-fijo {
  margin-left: 20px;
}

.my-defined-options {
  margin-top: 10px;
  margin-left: 30px;
}

.establecer-class label {
  padding-left: 60px;
}


/* VENDEDOR */

#pago-inicial-titulo {
  display: inline;
}

#pago-inicial-opcion {
  display: inline;
}

.radios-pago-inicial label {
  margin-right: 2rem;
}

.porcentaje-dinero {
  margin-top: 0.5em;
}

.num-plazos-completar {
  margin-top: 8px;
}

.tabla-resumen {
  display: block;
  height: 500px;
  overflow: auto;
}

.registro-button {
  padding-top: 30px;
}

.my-defined-options-sale {
  margin-top: 10px;
}

.error-message {
  margin-left: 10px;
}

.radio-pagos {
  margin-bottom: 10px;
}

.right-column {
  background-color: #eee;
  max-height: 98vh;
  overflow: scroll;
  padding-bottom: 1em;
}

.resumen-lista > li{
  margin-bottom: 0px;
}
