@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic);

body{
  font-family: 'Source Sans Pro', sans-serif;
}

.checkboxes > label {
  margin-right: 40px;
}

.days > label {
  margin-right: 90px;
}

.save-buttons {
  padding-top: 60px;
  padding-bottom: 300px;
}
